.container{
	display: none;
}

.trtdticket{
      background-color:#5b5c5d;color:white;
      background:#5b5c5d;
    }
#iframereporte2,.iframereporte2{
	display: block;
}
.tableticket{
	width: 100%;
}